/* Organizar os estilos em ordem alfabética por bloco */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* CAROUSEL CONTAINER */
.light-purple-container {
  background-color: #ada7ce;
}

.oportunity-card {
  background-color: #faf7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-bottom: 20px;
  width: 17em;
  height: 18em;
  margin: 0 auto;
}

.oportunity-title {
  margin: 15px 0;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px;
  font-weight: bold;
}

.oportunity-description {
  text-align: left;
  padding: 5px 10px;
}

/* CAROUSEL */
.carousel-item {
  height: 350px;
  text-align: center;
}

/* VOLUNTEER BANNER */
#bold-and-gray {
  font-weight: bold;
  color: #c4c4c4;
}

.dark-purple-container {
  background-color: #2b0955;
  color: #ffffff;
  text-align: center;
  padding: 50px 0 40px 0;
  height: 75vh;
  font-size: 2em;
}

.volunteer-button {
  background-color: #f3b81e;
  color: #0b0a0a;
  font-size: 0.8em;
  border-radius: 10px;
  border: none;
  padding: 5px 25px;
}

.volunteer-button:hover {
  background-color: #f3b81e;
  color: #0b0a0a;
  opacity: 0.8;
}

/* FOOTER */

footer {
  color: #2b0955;
  font-size: 1.1rem;
  margin: 0;
  padding: 1rem;
}

a {
  margin: 3px;
  color: inherit;
}

i {
  font-size: 1.4rem;
}
