body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.volunteers-characteristics {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3em;
  padding: 40px 0px 30px;
  color: #2b0955;
}

/* CAROUSEL CONTAINER */

.carousel-item {
  height: 350px;
  text-align: center;
}

.light-purple-container {
  background-color: #ada7ce;
}

.opportunity-card {
  background-color: #faf7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 18em;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  width: 17em;
}

.opportunity-description {
  padding: 5px 10px;
  text-align: left;
}

#opportunities-container-title {
  color: #2b0955;
  font-family: "Courier New", Courier, monospace;
  font-size: 60px;
  font-weight: 600;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
}

.opportunity-title {
  border-bottom: 1px solid #e6e6e6;
  font-weight: bold;
  margin: 15px 0;
  padding-bottom: 20px;
  text-align: left;
}

/* VOLUNTEER BANNER */

#bold-and-gray {
  color: #c4c4c4;
  font-weight: bold;
}

.apply-volunteer-banner {
  color: #ffffff;
  font-size: 2em;
  padding: 50px 20px 40px 20px;
  text-align: center;
}

.dark-purple-container {
  background-color: #2b0955;
}

.volunteer-button {
  background-color: #f3b81e;
  border: none;
  border-radius: 10px;
  color: #0b0a0a;
  font-size: 0.8em;
  padding: 5px 25px;
}

.volunteer-button:hover {
  background-color: #f3b81e;
  color: #0b0a0a;
  opacity: 0.8;
}

/* STAGES TO BECOME A VOLUNTEER */

.circles {
  align-items: center;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  font-weight: 600;
  height: 3.5em;
  justify-content: center;
  width: 3.5em;
}

.circles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
}

.blue-circle {
  background-color: #0d1ca4;
}

.green-circle {
  background-color: #359d10;
}

.purple-circle {
  background-color: #2b0955;
}

.yellow-circle {
  background-color: #f3b81e;
}

.stages-container {
  margin: 0;
  /* text-align: center; */
}

.stages-description,
.stages-description-first {
  margin: 0 0 30px 0;
  padding: 15px 0px 0px 10px;
  width: 70%;
}

.stages-description-first {
  text-align: center;
}

.volunteer-title {
  color: #2b0955;
  font-size: 1.8em;
  margin: 1em auto 1.2em 3.5em;
  text-transform: uppercase;
}

/* EXPECTED CHARACTERISTICS */

.blue-text {
  color: #174aff;
  padding: 10px;
}

.green-text {
  color: #359d10;
  padding: 10px;
}

.heart {
  width: 32px;
}

.characteristics-container {
  text-align: center;
  margin-bottom: 10px;
}

/* SPEECH CONTAINER */

.card-container {
  margin: 0 auto;
  width: 84vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 100px;
}

.speech-card {
  background-color: #ffffff;
  border-radius: 10px;
  color: #9e9e9e;
  display: grid;
  grid-template-columns: 1fr 220px;
}

.speech-container {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  height: auto;
  padding-bottom: 60px;
}
.speech-container-title {
  font-size: 1.8em;
  text-transform: uppercase;
  margin: 1.6em auto 1.2em 3.5em;
}

.speech-text {
  align-items: center;
  color: #353839;
  display: flex;
  font-size: 1.5em;
  padding-left: 20px;
  margin-top: 10px;
  text-shadow: rgb(205 205 205) 1px 1px;
}

.volunteer-name {
  border-radius: 10px;
  color: #000000;
  font-size: 20px;
  margin-left: 20px;
  padding: 12px;
}

.volunteer-photo {
  width: 13em;
  height: 13em;
  border-radius: 50%;
  position: relative;
  left: 4.3em;
  top: 2em;
  z-index: 1;
  box-shadow: 0px 0px 5px 5px rgba(168, 168, 168, 0.43);
}

/* SECOND BANNER */

.second-banner-title {
  color: #2b0955;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-align: center;
}

.second-banner-subtitle {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.questions {
  color: #f9573f;
  font-size: 2rem;
  font-weight: 600;
  height: 80px;
  margin: 0 26px auto auto;
  text-align: left;
  width: 400px;
}

.card-questions {
  text-align: center;
}

.give-love-img {
  width: 120px;
}

.second-banner {
  padding: 25px 0;
}

ul {
  margin: 0;
  text-align: left;
}

li {
  list-style: none;
  margin: 10px 0 0 32px;
}

/* FOOTER */

footer {
  background-color: #ffffff;
  color: #2b0955;
  font-size: 1.1rem;
  margin: 0;
  padding: 1rem;
}

a {
  color: inherit;
  margin: 3px;
}

i {
  font-size: 1.4rem;
}

@media screen and (max-width: 480px) {
  li {
    margin: 0 0 20px 0;
  }

  ul {
    text-align: center;
    padding: 0;
  }

  #opportunities-container-title {
    font-size: 40px;
  }

  .card-container {
    gap: 25px;
  }

  .questions {
    font-size: x-large;
    height: auto;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .second-banner {
    padding: 5px 0;
  }

  .speech-card {
    grid-template-columns: 1fr;
  }

  .speech-container {
    padding-bottom: 35px;
  }

  .speech-container-title {
    margin: 22px;
    text-align: center;
  }

  .speech-text {
    order: 2;
  }

  .stages-description {
    width: 80%;
  }

  .volunteer-name {
    order: 3;
    margin: 0;
    padding: 12px 0 20px 20px;
  }

  .volunteer-photo {
    order: 1;
    left: 0;
    top: 0;
    width: 9em;
    height: 9em;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .volunteer-title {
    font-size: 1.5em;
    margin: 22px;
    text-align: center;
  }
}
